<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Student Forum</title>
   <link rel="stylesheet" type="text/css" href="/css/index.css">
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <nav>
      <ul>
         <li id="hamburger">&#9776;</li>
         <%if(user) {%>
            <li>
               <a href="/user/<%=user.id%>"><%=user.name%></a>
            </li>
         <%}%>
      </ul>
      <ul>
         <%if(user) {%>
            <li><a href="/createpost">Create post.</a></li>
            <li><a href="/createblog">Create Blog.</a></li>
            <li><a href="/logout">log out</a></li>
         <%} else {%>
            <li><a href="/login">log in</a></li>
         <%}%>
         <%if(user && user.type === "admin") {%>
            <li><a href="/admin">admin</a></li>
         <%}%>
         <li><a href="/posts">View posts</a></li>
         <li><a href="/blogs">View blogs</a></li>
      </ul>
   </nav>
   <div class="sidebar sidebar-close">
      <h3>Please select a course</h3>
      <%courses.forEach(data => {%>
         <a href="/course/<%=data.course_code.replace(/ /g, '_')%>"><h3><%=data.course_name%></h3></a>
      <%})%>
   </div>
   <div>
      <h1>Welcome to the student forum</h1>
      <div class="information-container">
         <div class="blogs">
            <h2>Recent Blogs</h2>
            <%blogs.forEach(res => {%>
               <a href="blogs/<%=res.id%>"><p class="title"><%=res.title%></p></a>
            <%})%>
         </div>
         <div class="posts">
            <h2>Recent Posts</h2>
            <%posts.forEach(res => {%>
               <a href="posts/<%=res.id%>"><p class="title"><%=res.title%></p></a>
            <%})%>
         </div>
      </div>
   </div>
   <script type="text/javascript" src="js/index.js"></script>
</body>
</html>