<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" type="text/css" href="/css/style.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
   <%if(user.type === "admin") {%>
      <button id="show-moderators">moderators</button>
      <button id="show-users">users</button>
   <%}%>
   <a href="/"><h1>Home</h1></a>
   <%request.forEach(req => {%>
      <h3><%=req.user_id%></h3>
      <h3><%=req.course_code%></h3>
      <form action="/moderate" method="POST" class="form">
         <input name="user_id" value="<%=req.user_id%>" hidden>
         <input name="course_code" value="<%=req.course_code%>" hidden>
         <button type="submit">Accept</button>
      </form>
      <form action="/moderate" method="POST" class="form">
         <input name="user_id" value="<%=req.user_id%>" hidden disabled>
         <input name="course_code" value="<%=req.course_code%>" hidden disabled>
         <button type="submit">Decline</button>
      </form>
      <%})%>
      <script type="text/javascript" src="../../../js/moderate.js"></script>
</body>
</html>