<DOCTYPE html>
<html>
   <head>
      <title>A Post</title>
      <link rel="stylesheet" type="text/css" href="/css/post.css">
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
   </head>
   <body>
         <a href="/"><button>Main page</button></a>
         <a href="/posts"><button>View all posts</button></a>
         <div class="main-container">
            <div class="content-container">
               <h2><%=post.title%></h2>
               <h3>Post by <%=post.name%></h3>
               <h3><%=post.time.toDateString()%></h3>
               <p class="content"><%=post.content%></p>
            </div>
            <form class="comment-form" action="/posts/:id/createcomment" method="POST">
               <textarea name="comment_content" rows="10" cols="70" class="comment-box"></textarea>
               <input type="text" id="post_id" name="post_id" value="<%=post.id%>" hidden>
               <input type="text" id="user_id" name="user_id" value="<%=post.user_id%>" hidden>
               <button type="submit">comment</button>
            </form>
            <div class="comment-container">
               <%comments.forEach(comment => {%>
                  <h3><%=comment.name%></h3>
                  <p><%=comment.time.toDateString()%> <%=comment.time.getHours()%>:<%=comment.time.getMinutes()%></p>
                  <p class="comment-content"><%=comment.content%></p>
               <%})%>
            </div>
         </div>
   <body>
</html>